/* navy: #2f4156
teal: #567c8d
sky blue: #c8d9e6
beige: #f5efeb
white: #ffffff */
body{
    font-family: Arial, Helvetica, sans-serif;    
    padding: 0;
    margin: 0;
}
.centre{
    display: flex;
    background: #fff url(./src/background.png);
    background-size: 50px 50px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#main-index{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: 500px;
    box-shadow: 7px 7px 20px #2f415640;
    text-align: center;
}

#main-index h2{
    color: #567c8d;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 30px 0px 10px;
}
#main-index p{
    margin: 0;
    color: #567c8d;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm input{
    width: 340px;
    height: 60px;
    margin-bottom: 0; 
    padding:  0px 20px;
    border: solid #567c8d 1px; 
    border-radius: 30px;
    background-color: #f7f3f0;
    outline: none;    
}
#idNumber{
    margin-top: 25px;
}
#loginForm input:focus{
    color:#2f4156;
    background-color: #c8d9e6;
}
#loginForm input::placeholder{
    color: #567c8d;
    font-weight: 500;
}
#loginForm input:focus::placeholder{
    color: #2f4156;
    font-weight: 900;
}

#loginForm button{
    border: none;
    border-radius: 30px;
    background-color: #2f4156;
    color: #f5efeb;
    width: 340px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    line-height: 30px;
    box-sizing: content-box;
}

#loginForm a{
    color: #567c8d;
    text-decoration: none;
    line-height: 30px;
    margin-bottom: 20px;
}
footer{
    color: #567c8d; 
    font-size: 10.666px; 
    font-size: 8pt;
    text-align: center;    
    margin: 10px;
}
.dashboard{
    /* background: url(/assets/images/background.png);
    background-size: 50px 50px;  */
    background-color: #c8d9e6;
}
.dashboard nav{
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 7px 7px 20px rgba(47, 65, 86, 0.2);    
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    overflow: hidden;
}
.small-profile{
    padding: 0 15px;
    height: 40px;
    border-radius: 50%;
}
.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nile-logo{
    height: 50px;
    padding: 10px 15px;
}
.fa-bars{
    font-size: 15px;
    padding: 28px 15px;
    color: #a6b7bf;
}
.fa-bars:hover, .nile-logo:hover, .small-profile:hover{
    color: black;
}
.main-dashboard{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.menu-bar{
    flex: 7%;
    background-color: #2f4156;
    min-width:  70px;
    overflow: hidden;
}
.menu-bar ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
}
.menu-bar li{
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-bar i{
    padding: 25px 0;
    width: 100%;
    font-size: 30px;
    color: #f5efeb;
}
.menu-bar i:hover{
    background-color: #f5efeb;
    color: #2f4156;
}
.profile {
    height: 800px;
    flex: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 30px 0;
}
.profile image{
    margin: 20px;
    height: 250px;
    width: 200px;
}
.profile h3{
    margin: 0;
    padding: 10px;
    font-size: 30px;
    color: #567c8d;
}
.profile h4{
    background-color: #2f4156;
    color: #f5efeb;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.profile hr{
    width: 100%;
    background-color:#567c8d;
    border: none;
    height: 0.75px;

}
.profile h5{
    margin: 10px auto 0 20px;
    font-size: 12px;
    text-align: left;
    color: #567c8d;

}
.building-div{
    height: 400px;
    flex: 67%;
    /* background-color: rgb(80, 79, 79); */
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* justify-content: center; */
    gap: 2% 2%;
    margin: 40px 2% 0 0;
    padding: 0;
    justify-content: space-evenly;
}
.building-div img{
    background-color: aqua;
    height: 175px;
    width: 225px;
    border-radius: 5px;
    margin: 0;
}